<footer id="footer">
    <div class="container has-text-centered has-background-grey-darker" id="backtotop">
        <a class="has-text-white" onclick="window.scroll(0,0)">BACK TO TOP</a>
    </div>
    <div class="has-background-black has-text-centered has-text-white" id="credits">
        <i class="far fa-copyright"></i> 2022-2024 | ScytedTV Studios
    </div>
    <script src="https://scytedtvstudios.statuspage.io/embed/script.js"></script>
    <script type="text/javascript">
        var infolinks_pid = 3416719;
        var infolinks_wsid = 0;
        </script>
        <script type="text/javascript" src="http://resources.infolinks.com/js/infolinks_main.js"></script>
</footer>